<header @click.outside="mobile = false"
  class="bg-white transition duration-500 relative">
  <div class="mx-auto max-w-7xl flex flex-wrap items-center space-x-8 justify-between px-6 lg:px-8 py-11 lg:py-12">
    <a href="{{ "/" | relative_url }}">
      {% if site.logo %}
        <img class="h-14 lg:h-24" src="{{ site.logo | absolute_url }}" height="96" alt="{{ site.title }}">
      {% else %}
        {{ site.title }}
      {% endif %}
    </a>

    <div class="flex items-center flex-1 justify-end">
            
      <nav class="hidden lg:flex lg:mr-5">
        {% for link in site.data.navbar %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = '' | relative_url %}
          {% endif %}

          {% if link.dropdown != null %}
            <div class="relative" x-data="{ dropdown: false }">
              <button type="button" @click.prevent="dropdown = ! dropdown"
                :class="{ 'shadow-dropdown': dropdown, '': !(dropdown) }"
                class="group bg-white inline-flex transform-none items-center text-lg py-2.5 px-4 rounded-t-md focus:outline-none text-red"
                aria-expanded="false">
                <div class="absolute top-3 left-0 right-0 -bottom-2 z-40 bg-white"></div>
                <span class="relative z-50">{{ link.text }}</span>
                <svg
                  class="ml-0.5 h-5 w-5 group-hover:text-red text-red transform-none relative z-50"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentcolor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414.0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414.0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div x-show="dropdown" :class="{ 'block': dropdown, 'hidden': !(dropdown) }"
                x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0 translate-y-0"
                x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-100"
                x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-0"
                @click.outside="dropdown = false"
                class="absolute -mt-1 z-30 w-screen max-w-[13rem] transform lg:left-0 hidden"
                style="display: none;">
                <div class="overflow-hidden rounded-md rounded-tl-none shadow-dropdown">
                  <div class="relative grid gap-7 bg-white px-4 py-4">
                    {% for child in link.dropdown %}
                      {% if child.url contains 'http' %}
                        {% assign domain = '' %}
                      {% else %}
                        {% assign domain = '' | relative_url %}
                      {% endif %}                    
                      <a href="{{ domain }}{{ child.url }}"
                        class="-m-4 flex items-start group rounded-xl p-4 text-dark hover:text-red">
                        {% if child.icon and child.icon != empty %}
                          <div class="flex-shrink-0 mr-3">
                            {% include icons/{{ child.icon }}.svg %}                            
                          </div>
                        {% endif %}
                        <div>
                          <p class="text-lg">{{ child.text }}</p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <a class="text-lg hover:text-red py-2.5 px-4 text-red" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>{{ link.text }}</a>
          {% endif %}
        {% endfor %}            
      </nav>

      <div :class="{ 'block': mobile, 'hidden': !(mobile) }" 
        class="w-full lg:w-72 xl:w-[21.25rem] absolute lg:relative bottom-0 right-0 px-4 lg:px-0 hidden lg:block">
        <div class="w-full">
          <label for="search-input" class="sr-only">Search</label>
          <div class="relative px-1.5">
            <input id="search-input" name="search" data-minchars="1" data-maxitems="30"
              class="block relative z-20 w-full rounded-md border-0 bg-[#F9F9FF] py-3 pl-10 pr-3 text-blue ring-0 placeholder:text-gray-2 focus:ring-0 text-base sm:leading-6"
              placeholder="{{ site.data.translation[site.lang].search | default: 'Search' }}" type="search" autocomplete="off">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4 z-20">
              <svg class="h-5 w-5 text-red" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>  
            <ul class="absolute z-10 -top-2 left-0 right-0 w-full pt-16 px-4 pb-3 rounded-md text-sm shadow-xl bg-white text-gray-1 max-h-96 overflow-y-auto hidden" id="results-container"></ul>
          </div>
        </div>
      </div>
      <button @click="mobile = ! mobile" type="button" class="relative lg:hidden ml-4" aria-label="Open navigation">
        <svg :class="{ 'hidden': mobile, 'block': !(mobile) }" class="w-[1.625rem] h-[1.625rem]" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="26" y="6.65479" width="6.5" height="6.5" rx="0.928571" transform="rotate(-180 26 6.65479)" fill="#E61E25"/>
          <rect x="26" y="16.25" width="6.5" height="6.5" rx="0.928571" transform="rotate(-180 26 16.25)" fill="#E61E25"/>
          <rect x="26" y="25.8452" width="6.5" height="6.5" rx="0.928571" transform="rotate(-180 26 25.8452)" fill="#E61E25"/>
        </svg>
        <svg :class="{ 'block': mobile, 'hidden': !(mobile) }" class="w-[1.625rem] h-[1.625rem]" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="26" y="6.65479" width="26" height="6.5" rx="0.928571" transform="rotate(-180 26 6.65479)" fill="#E61E25"/>
          <rect x="26" y="16.25" width="26" height="6.5" rx="0.928571" transform="rotate(-180 26 16.25)" fill="#E61E25"/>
          <rect x="26" y="25.8452" width="26" height="6.5" rx="0.928571" transform="rotate(-180 26 25.8452)" fill="#E61E25"/>
        </svg>
      </button>
    </div>
  </div>

  <div x-show="mobile"
    :class="{ 'block': mobile, 'hidden': !(mobile) }"
    x-transition:enter="duration-200 ease-out"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="duration-100 ease-in"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    class="z-10 origin-top transform transition hidden lg:hidden"
    >
    <div class="overflow-hidden bg-white">
      <div class="space-y-1 p-6 pb-20">
        {% for link in site.data.navbar %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = '' | relative_url %}
          {% endif %}

          {% if link.dropdown != null %}
            <div x-data="{ accordion: false }">
              <a
                href="#"
                class="flex items-center py-4 text-2xl font-bold uppercase text-red"
                @click.prevent="accordion = ! accordion"
              >
                <span class="mr-4">{{ link.text }}</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  :class="{ 'rotate-90': accordion, 'transform-none': !(accordion) }"
                  class="h-6 w-6"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
              <div x-show="accordion" :class="{ 'block': accordion, 'hidden': !(accordion) }">
                {% for child in link.dropdown %}
                  {% if child.url contains 'http' %}
                    {% assign domain = '' %}
                  {% else %}
                    {% assign domain = '' | relative_url %}
                  {% endif %}                    
                  <a href="{{ domain }}{{ child.url }}" class="py-4 block text-lg text-dark hover:text-red">{{ child.text }}</a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a href="{{ domain }}{{ link.url }}" class="block py-4 text-2xl font-bold uppercase text-red" 
            {% if link.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>{{ link.text }}</a>
          {% endif %}
        {% endfor %} 
      </div>
    </div>
  </div>
</header>
{% assign filename = "search-" | append: site.search | append: ".json" %}
<script src="https://unpkg.com/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script>
<script>
	window.simpleJekyllSearch = new SimpleJekyllSearch({
		searchInput: document.getElementById('search-input'),
		resultsContainer: document.getElementById('results-container'),
		searchResultTemplate: '<li><a class="py-2 block leading-tight hover:text-red" href="{url}">{title}</a></li>',
		noResultsText: '<li class="no-results py-3">{{ site.data.translation[site.lang].no_results | default: 'No results found' }}</li>',
		json: "{{ filename | relative_url }}"
	});
	
	searchResults();

  var search = document.getElementById("search-input");
  var results = document.getElementById("results-container");

  search.addEventListener('input', function() {
    if (search.value === '') {
        results.classList.add('hidden');
    } else {
        results.classList.remove('hidden');
    }
  });

	function searchResults() {

		var currentItem = null;
		var search = document.getElementById("search-input");
		var results = document.getElementById( "results-container");

		function removeActive() {
			for (i = 0; i < results.children.length; i++) {
				// results.children[i].classList.remove("bg-slate-50");
        results.children[i].classList.remove("text-red");
			}
		}

		results.addEventListener("mouseover", function(event) {

			removeActive();
			// event.target.parentElement.classList.add("bg-slate-50");
      event.target.parentElement.classList.add("text-red");
			currentItem = null;

		});

		results.addEventListener("mouseout", function(event) {
			// event.target.parentElement.classList.remove("bg-slate-50");
      event.target.parentElement.classList.remove("text-red");
		});


		search.addEventListener("keyup", function(event) {

			var resultItems = results.children;
			var resultCount = results.children.length;

			if (event.keyCode === 40) {

				if (currentItem < (resultCount - 1)) {
					if (currentItem === null) {
						currentItem = 0;
					} else {
						removeActive();
						currentItem++;
					}
					removeActive();
					// resultItems[currentItem].classList.add("bg-slate-50");
          resultItems[currentItem].classList.add("text-red");
				}

			} else if (event.keyCode === 38) {
				if (currentItem > 0) {
					if (currentItem === null) {
						currentItem = 0;
					} else {
						removeActive();
						currentItem--;
					}
					removeActive();
					// resultItems[currentItem].classList.add("bg-slate-50");
          resultItems[currentItem].classList.add("text-red");
				}

			} else if (event.keyCode === 13 && currentItem !== null) {
        resultItems[currentItem].children[0].click();
      }

		});

	}
</script>


