---
layout: default
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 pt-11 pb-24 lg:pt-14 lg:pb-0">
  <div class="flex flex-col lg:flex-row lg:gap-20 xl:gap-40">
    <div class="flex-1">
      <a href="{{ '/' | relative_url }}" class="text-red inline-block">&larr; Back to courses</a>
      <h1 class="text-5xl lg:text-6xl text-blue font-bold leading-[1.15] mt-7">{{ page.title }}</h1>
      {% for item in site.data.team %}
        {% if item.username == page.author %}
          <div class="flex space-x-2.5 items-center mt-2">
            <img class="rounded w-12 h-auto" src="{{ item.image | absolute_url }}" alt="{{ item.name }}">
            <div>
              <h4 class="font-bold text-lg text-red leading-none">{{ item.name }}</h4>
              <p class="text-gray-2 leading-none mt-1">{{ item.title }}</p>
            </div>
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
      <div class="mt-12 prose max-w-none prose-slate prose-headings:font-bold prose-a:text-red hover:prose-a:text-red">
        {{ content }}
      </div>
      <svg class="w-40 h-auto mt-3 lg:mt-12 ml-auto -mr-6 lg:mr-0" width="156" height="177" viewBox="0 0 156 177" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M104.595 4.58191V21.1621H88.0145C85.5292 21.1621 83.5145 19.1474 83.5145 16.6621L83.5145 4.58191C83.5145 2.09663 85.5292 0.0819092 88.0145 0.0819092H100.095C102.58 0.0819092 104.595 2.09663 104.595 4.58191Z" fill="#D4D2E3"/>
        <path d="M151.342 72.4082H104.595V21.1611H151.342C153.827 21.1611 155.842 23.1758 155.842 25.661V67.9082C155.842 70.3935 153.827 72.4082 151.342 72.4082Z" fill="#D4D2E3"/>
        <path d="M104.004 72.4088V171.676C104.004 174.161 101.989 176.176 99.5039 176.176H5.2793C2.79401 176.176 0.779297 174.161 0.779297 171.676V76.9088C0.779297 74.4235 2.79401 72.4088 5.2793 72.4088H104.004Z" fill="#D4D2E3"/>
        <path d="M93.6729 115.526C93.6729 114.716 94.33 114.059 95.1406 114.059H102.705C103.516 114.059 104.173 114.716 104.173 115.526V124.559H95.1406C94.33 124.559 93.6729 123.901 93.6729 123.091V115.526Z" fill="#E61E25"/>
        <path d="M114.673 115.526C114.673 114.716 115.33 114.059 116.141 114.059H123.705C124.516 114.059 125.173 114.716 125.173 115.526V123.091C125.173 123.901 124.516 124.559 123.705 124.559H114.673V115.526Z" fill="#E61E25"/>
        <path d="M114.673 133.591C114.673 134.401 114.016 135.059 113.205 135.059L105.641 135.059C104.83 135.059 104.173 134.401 104.173 133.591L104.173 124.559L114.673 124.559L114.673 133.591Z" fill="#E61E25"/>
      </svg>        
    </div>
    <div class="lg:w-1/3 xl:w-[30%] -mt-14 lg:mt-14">
      <h3 class="text-blue uppercase font-bold text-3xl mb-16">Recommended Blogposts</h3>
      <div class="space-y-7">
        {% assign maxRelated = 2 %}
        {% assign minCommonTags =  1 %}
        {% assign maxRelatedCounter = 0 %}
        {% for post in site.blog %}

          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}

          {% for category in post.categories %}
            {% if post.url != page.url %}
                {% if page.categories contains category %}
                    {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% endif %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount >= minCommonTags %}
            <div class="flex space-x-5 items-center relative">
              <svg class="w-24 h-auto flex-none" width="101" height="100" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.875" width="100" height="100" rx="4.54545" fill="#E61E25"/>
                <path d="M51.7344 36.4965L65.2378 50L51.7344 63.5034" stroke="white" stroke-width="3.19198" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M65.2384 50L36.5107 50" stroke="white" stroke-width="3.19198" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                  
              <div>
                <h4 class="font-bold text-lg text-red leading-tight">{{ post.title }}</h4>
                <p class="text-gray-2 leading-snug">{{ post.description }}</p>
              </div>
              <a href="{{ post.url | relative_url }}" class="absolute inset-0" title="{{ post.title }}"></a>
            </div>
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
          {% endif %}
    
        {% endfor %}
      </div>
      <h3 class="text-blue uppercase font-bold text-3xl mb-16 mt-24">Resources</h3>
      <div class="space-y-7">
        {% for item in page.links %}
          <a class="text-lg font-bold text-red space-x-1 flex items-center justify-center border border-red rounded-full py-2.5 px-4" href="{{ item.url | relative_url }}" {% if item.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>
            <span>{{ item.text }}</span>
            <svg class="flex-none" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.9043 3.31177L16.2499 9.65742L9.9043 16.0031" stroke="#E61E25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.2499 9.65747L2.75 9.65747" stroke="#E61E25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>            
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>